[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
jwcrypto = "*"
timeago = "*"
setuptools = "*"
wheel = "*"
twine = "*"
argon2-cffi = "*"
django-extensions = "*"
mkdocs = "*"
markdown = "*"

[requires]
python_version = "3.7"
